header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    background: $white;

    .inner {
        height: 78px;
        display: flex;
        justify-content: space-between;

        .menu-group {
            display: flex;
            align-items: center;
            height: 100%;

            .logo {
                margin-right: 10px;

                a {
                    background: url("../img/logo.svg");
                    display: block;
                    width: 32px;
                    height: 32px;
                    text-indent: -9999px;

                    &:hover {
                        background: url("../img/logo_on.svg");
                    }
                }
            }

            .main-menu {
                display: flex;

                a {
                    display: block;
                    padding: 10px;
                    color: $gray;

                    &:hover {
                        color: $blue;
                    }
                }
            }

        }

        .sign-group {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            height: 100%;

            .btn-group {
                display: flex;

                .btn {
                    margin-right: 4px;
                }

            }

            #search-form {
                .input--text {
                    width: 160px;
                    font-size: 14px;
                    margin-right: 12px;
                }
            }

            .sub-menu {
                display: flex;
                margin-right: 10px;

                a {
                    display: block;
                    padding: 8px;
                    font-size: 13px;
                    color: $gray;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}